{% extends 'base.html' %}


{% block meta %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

    body {
        font-family: 'Poppins', sans-serif;
        background-color: #C4DBF6;

    }

    th, td {
      vertical-align: middle;
    }

    .nav-item .nav-link {
        font-family: 'Poppins', sans-serif;
        border-radius: 20px;
        padding: 8px 15px;
    }

    .nav-item .nav-link:hover {
        color: #fff;
    }

    .nav-item .nav-link.active {
        background-color: #fff;
        color: #000;
    }

    .navbar {
        background: linear-gradient(120deg, #b23850, #3b8beb);
    }

    .bg-table {
        background-color: #3b8beb;
        border-radius: 20px;
        padding: 12px;
    }

    .bg-secondary-table {
        background-color: #b23850;
        border-radius: 20px;
        padding: 12px;
    }
</style>
<title>Enrolled Events Athlete</title>

{% endblock meta %}

{% block content %}

  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#" style="font-family: 'Poppins', sans-serif;">Atlet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tes Kualifikasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Daftar Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Enrolled Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Daftar Sponsor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>

  <div class="row m-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-table text-white">
          <h3 class="card-title">Enrolled Events List</h3>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead>
              <tr class="bg-secondary-table text-white text-center align-middle">
                <th>Nama Event</th>
                <th>Stadion</th>
                <th>Hadiah</th>
                <th>Superseries Category</th>
                <th>Spesialis</th>
                <th>Tanggal Mulai</th>
                <th>Tanggal Selesai</th>
                <th>Kapasitas</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Indonesia Open</td>
                <td>Istora Senayan</td>
                <td>75.000.000</td>
                <td>WFTL1</td>
                <td>Tunggal Putri</td>
                <td>2023-05-15</td>
                <td>2023-05-17</td>
                <td>100.000</td>
                <td>
                  <button type="button" class="btn btn-danger btn-sm">Unenroll</button>
                </td>
              </tr>
              <tr>
                <td>English Open</td>
                <td>Birmingham</td>
                <td>50.000.000</td>
                <td>WFTL2</td>
                <td>Ganda Putri</td>
                <td>2023-05-20</td>
                <td>2023-05-22</td>
                <td>80.000</td>
                <td>
                  <button type="button" class="btn btn-danger btn-sm">Unenroll</button>
                </td>
              </tr>
              <tr>
                <td>Denmark Open</td>
                <td>Odense Stadium</td>
                <td>75.000.000</td>
                <td>WFTL4</td>
                <td>Ganda Campuran</td>
                <td>2023-05-25</td>
                <td>2023-05-27</td>
                <td>100.000</td>
                <td>
                  <button type="button" class="btn btn-danger btn-sm">Unenroll</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}