<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

  .nav-item .nav-link {
      font-family: 'Poppins', sans-serif;
      border-radius: 20px;
      padding: 8px 15px;
  }

  .nav-item .nav-link:hover {
      background-color: #3b8beb;
      color: #fff;
  }

  .nav-item .nav-link.active {
      background-color: #fff;
      color: #000;
  }

  .navbar {
      background: linear-gradient(120deg, #b23850, #3b8beb);
  }
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#" style="font-family: 'Poppins', sans-serif;">Umpire</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Daftar Atlet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Lihat Event</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Hasil Pertandingan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
              </li>
            </ul>
        </div>
    </div>
</nav>

  