<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Hasil Pertandingan</title>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        [Jenis Partai] - [Nama Event]
                    </div>
                    <div class="card-body">
                        
                            <h5 class="card-title mx">Nama Event: {{data_event.0}}</h5>
                            <p class="card-text">Stadium: {{data_stadium.0}}</p>
                            <p class="card-text">Hadiah: {{data_event.7}}</p>
                            <p class="card-text">Kategori Superseries: {{data_event.6}}</p>
                            <p class="card-text">Tanggal Mulai: {{data_event.4}}</p>
                            <p class="card-text">Tanggal Selesai: {{data_event.4}}</p>
                            <p class="card-text">Kapasitas: {{data_stadium.2}} </p>
                            
                        
                        <table class="table table-bordered align-middle">
                            <thead class="table-primary">
                                <tr>
                                    <th scope="col" class="text-center font-weight-bolder">Tahap</th>
                                    <th scope="col" class="text-center font-weight-bolder">Nama Tim</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for partai_kompetisi_event in daftar_partai_kompetisi_event %}
                                <tr>
                                  <td>Juara 1</td>
                                  <td>A</td>
                                </tr>
                                    <td>Juara 1</td>
                                  <td>A</td>
                                {% endfor %}
                              </tbody>
                        </table>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
</body>

</html>