{% extends 'base.html' %}

{% block meta %}
<title>Daftar Event</title>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

    body {
			font-family: 'Poppins', sans-serif;
			background-color: #C4DBF6;
    }

		.btn {
			display: block;
			width: 100%;
			margin-top: 24px;
			background-color: #b23850;
			border: #b23850;
		}

		.card {
			border-radius: 20px;
		}

		.nav-item .nav-link {
      font-family: 'Poppins', sans-serif;
      border-radius: 20px;
      padding: 8px 15px;
  }

  .nav-item .nav-link:hover {
      background-color: #3b8beb;
      color: #fff;
  }

  .nav-item .nav-link.active {
      background-color: #fff;
      color: #000;
  }

  .navbar {
      background: linear-gradient(120deg, #b23850, #3b8beb);
  }

	.title-page {
		background-color: #3b8beb;
		color: #fff;
		padding: 10px 20px;
		border-radius: 5px;
	}

	.card-header {
		background-color: #3b8beb;
		color: #fff;
		border-radius: 20px 20px 0px 0px;
		text-align: center;
	}

</style>

{% endblock meta %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container">
			<a class="navbar-brand" href="#" style="font-family: 'Poppins', sans-serif;">Umpire</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">Dashboard</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Daftar Atlet</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Lihat Event</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Hasil Pertandingan</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Logout</a>
						</li>
					</ul>
			</div>
	</div>
</nav>


<div class="container-fluid mt-3 mb-3" style="background-color: #C4DBF6;">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1 class="text-center mb-4 title-page">Events Registered by Participants</h1>
      
      <div class="row row-cols-3 g-4">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Denmark Open</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <p class="card-text">Stadion: <br>Odense Stadion</p>
                  <p class="card-text">Hadiah: <br>100.000.000</p>
                  <p class="card-text">Superseries Category: <br>WFTL7</p>
                </div>
                <div class="col-md-6">
                  <p class="card-text">Tanggal Mulai: <br>2023-06-01</p>
                  <p class="card-text">Tanggal Selesai: <br>2023-06-03</p>
                  <p class="card-text">Kapasitas: <br>100.000</p>
                </div>
              </div>
              <button class="btn btn-primary">Start Match</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">English Open</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <p class="card-text">Stadion: <br>Birmingham</p>
                  <p class="card-text">Hadiah: <br>50.000.000</p>
                  <p class="card-text">Superseries Category: <br>WFTL2</p>
                </div>
                <div class="col-md-6">
                  <p class="card-text">Tanggal Mulai: <br>2023-06-05</p>
                  <p class="card-text">Tanggal Selesai: <br>2023-06-07</p>
                  <p class="card-text">Kapasitas: <br>75.000</p>
                </div>
              </div>
              <button class="btn btn-primary">Start Match</button>
            </div>
          </div>
        </div>

				<div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Indonesia Open</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <p class="card-text">Stadion: <br>Istora Senayan</p>
                  <p class="card-text">Hadiah: <br>10.000.000</p>
                  <p class="card-text">Superseries Category: <br>WFTL4</p>
                </div>
                <div class="col-md-6">
                  <p class="card-text">Tanggal Mulai: <br>2023-06-01</p>
                  <p class="card-text">Tanggal Selesai: <br>2023-06-03</p>
                  <p class="card-text">Kapasitas: <br>80.000</p>
                </div>
              </div>
              <button class="btn btn-primary">Start Match</button>
            </div>
          </div>
        </div>
				
      </div>
      
    </div>
  </div>
</div>
{% endblock %}
