{% extends 'base.html' %}


{% block meta %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

    body {
        font-family: 'Poppins', sans-serif;
        background-color: #C4DBF6;

    }

    .nav-item .nav-link {
        font-family: 'Poppins', sans-serif;
        border-radius: 20px;
        padding: 8px 15px;
    }

    .nav-item .nav-link:hover {
        color: #fff;
    }

    .nav-item .nav-link.active {
        background-color: #fff;
        color: #000;
    }

    .navbar {
        background: linear-gradient(120deg, #b23850, #3b8beb);
    }

    .bg-table {
        background-color: #3b8beb;
        border-radius: 20px;
        padding: 12px;
    }

    .bg-secondary-table {
        background-color: #b23850;
        border-radius: 20px;
        padding: 12px;
    }

    th, td {
      vertical-align: middle;
    } 
</style>
<title>Enrolled Events Athlete</title>

{% endblock meta %}

{% block content %}

  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#" style="font-family: 'Poppins', sans-serif;">Atlet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tes Kualifikasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Daftar Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Enrolled Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Daftar Sponsor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>

  <div class="row m-3 justify-content-center">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header bg-table text-white">
          <h3 class="card-title">Piliih Kategori</h3>
        </div>
				<section>
					<div class="card">
						<div class="card-body col-md-5">
							<h4 class="card-title">Indonesia Open</h4>
							<div class="d-flex justify-content-between">
								<label>Hadiah:</label>
								<div>Rp 100.000.000</div>
							</div>
							<div class="d-flex justify-content-between">
								<label>Tanggal Mulai:</label>
								<div>06-09-2023</div>
							</div>
							<div class="d-flex justify-content-between">
								<label>Tanggal Selesai:</label>
								<div>27-09-2023</div>
							</div>
							<div class="d-flex justify-content-between">
								<label>Kategori:</label>
								<div>WFTL1</div>
							</div>
							<div class="d-flex justify-content-between">
								<label>Kapasitas:</label>
								<div>67.713/100.000</div>
							</div>
							<div class="d-flex justify-content-between">
								<label>Stadium:</label>
								<div>Istora Senayan</div>
							</div>
							<div class="d-flex justify-content-between">
								<h5>Negara Indonesia</h5>
							</div>
						</div>
					</div>
					
				</section>
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead>
              <tr class="bg-secondary-table text-white text-center align-middle">
                <th>Kategori</th>
                <th>Partner</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
							<tr class="text-center align-middle">
                <td>Ganda Putra</td>
                <td>
                    <div class="form-group mb-3">
                        <select class="form-control" id="Patner">
                          <option value="" selected disabled>Pilih Patner</option>
                          <option value="Patner A">Mohammad Ahsan</option>
                          <option value="Patner B">Dejan Ferdinansyah</option>
                          <option value="Patner C">Hendra Setiawan</option>
                        </select>
                      </div>
                </td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm">Piliih</button>
                </td>
              </tr>
              <tr class="text-center align-middle">
                <td>Tunggal Putri</td>
                <td>
                    <div class="form-group mb-3">
                        <select class="form-control" id="sponsor">
                          <option value="" selected disabled>Pilih Patner</option>
                          <option value="Patner A">Schamberger-Zboncak</option>
                          <option value="Patner B">Sipes-Carroll</option>
                          <option value="Patner C">Reichert-Robel</option>
                        </select>
                      </div>
                </td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm">Piliih</button>
                </td>
              </tr>
              <tr class="text-center align-middle">
                <td>Ganda Campuran</td>
                <td>
                    <div class="form-group mb-3">
                        <select class="form-control" id="Patner">
                          <option value="" selected disabled>Pilih Patner</option>
                          <option value="Patner A">Schamberger-Zboncak</option>
                          <option value="Patner B">Sipes-Carroll</option>
                          <option value="Patner C">Reichert-Robel</option>
                        </select>
                      </div>
                </td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm">Piliih</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
  

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}